
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

body { margin: 0;    min-height: 100vh;    background: #ececec; }

.container {
    position: absolute;
    width: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container span {
    position: absolute;
    left: 0;
    width: 24px;
    height: 5px;
    background: #ececec;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 60)));
    animation: animateBlink 1.25s linear infinite;
    animation-delay: calc(var(--i) * (2.5s / 60));
}

@keyframes animateBlink {
    0% { background: dodgerblue; }
    25% { background: #fff; }
}

.login-box { position: absolute;    width: 200px; }
.login-box form { width: 100%;    padding: 0 10px; }

.h2 { font-size: 1.2em;    text-align: center;    margin-top: -10px;    margin-bottom: -20px;    font-weight: 600; }
.h2:hover { color: gold;    transition: .5s; }

.input-box { position: relative;    margin: 25px 0; }
.input-box input {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #333;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #333;
    padding: 0 20px;
    transition: .5s ease;
}
.input-box input:hover { color: dodgerblue; }

.input-box input:focus,
.input-box input:valid { border-color: dodgerblue }

.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: transparentY(-50%);
    font-size: 1em;
    color: #333;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -10px;    font-size: .8em;    background: #fff;    padding: 0 6px;    color: dodgerblue; }

.forgot-pass { margin: -10px 0 15px;    margin-top: -20px;    text-align: end; }
.forgot-pass a { font-size: .85em;    color: dodgerblue;    text-decoration: none;    font-weight: 400; }
.forgot-pass a:hover { text-decoration: none;    color: gold; }

.btn {
    width: 100%;
    height: 45px;
    background: dodgerblue;
    border: 2px solid #333;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    margin-top: -10px;
}
.btn:hover {
    background-color: gold;
    color: #333;
    transition: 1.5s;
    font-size: 25px;
}

label { color: #333;    font-weight: 500; }

.signup-link {
    margin-top: 5px;
    margin: 20px 0 10 px;
    text-align: center;
}

.signup-link a {
    font-size: 1.1em;
    color: dodgerblue;
    text-decoration: none;
    font-weight: 500;
}

.signup-link a:hover {
    text-decoration: none;
    color: gold;
}



/**/
.card {
    
    width: 380px;
    padding: 20px;
    background-color: #fff;
    border: 2px, solid #ccc;
    border-radius: 85px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.color-primary { color: #0ef; }
.color-dogderblue { color: dodgerblue; }
.color-gold { color: gold; }
.color-gray { color: #333; }
.color-red { color: crimson; }
.color-white { color: #fff; }

.display-center { display: grid;    place-items: center; }
.display-flex-center { display: flex;    align-items: center;    justify-content: center; }





.login-google { margin-top: 10px;    color: #333; }
.login-google p { font-weight: 500;    font-size: 14px; }
.login-google img { width: 70px;    margin-left: 10PX; }

.login-google-btn {
    width: 250px;
    height: 40px;
    padding: 20px;
    background-color: #fff;
    border: 2px, solid #ccc;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}
.login-google-btn:hover { color: #333;    background-color: gold;    transition: 1.5s;
font-weight: 700; 
}

.btn:hover {
    background-color: gold;
    color: #333;
    transition: 1.5s;
    font-size: 25px;
}